---
# Network configuration tasks
- name: Deploy network configuration
  ansible.builtin.template:
    src: network.j2
    dest: /etc/config/network
    owner: root
    group: root
    mode: "0600"
    backup: false
  register: router_network_config_changed

- name: Deploy dhcp configuration
  ansible.builtin.template:
    src: dhcp.j2
    dest: /etc/config/dhcp
    owner: root
    group: root
    mode: "0600"
    backup: false
  register: router_dhcp_config_changed
  notify: Reload dnsmasq

- name: Deploy firewall configuration
  ansible.builtin.template:
    src: firewall.j2
    dest: /etc/config/firewall
    owner: root
    group: root
    mode: "0600"
    backup: false
  register: router_firewall_config_changed
  notify: Reload firewall
