# {{ ansible_managed }}

config defaults
    option syn_flood '1'
    option input 'REJECT'
    option output 'ACCEPT'
    option forward 'REJECT'
{% if router_flow_offloading %}
    option flow_offloading '1'
{% if router_hw_offloading %}
    option flow_offloading_hw '1'
{% endif %}
{% endif %}

config zone
    option name 'lan'
    list network 'lan'
    option input 'ACCEPT'
    option output 'ACCEPT'
    option forward 'ACCEPT'

config zone
    option name 'wan'
    list network 'wan'
{% if vpn_ipv6_enabled %}
    list network 'wan6'
{% endif %}
    option input 'REJECT'
    option output 'ACCEPT'
    option forward 'REJECT'
    option masq '1'
    option mtu_fix '1'

config forwarding
    option src 'lan'
    option dest 'wan'

config rule
    option name 'Allow-DHCP-Renew'
    option src 'wan'
    option proto 'udp'
    option dest_port '68'
    option target 'ACCEPT'
    option family 'ipv4'

config rule
    option name 'Allow-Ping'
    option src 'wan'
    option proto 'icmp'
    option icmp_type 'echo-request'
    option family 'ipv4'
    option target 'ACCEPT'

config rule
    option name 'Allow-IGMP'
    option src 'wan'
    option proto 'igmp'
    option family 'ipv4'
    option target 'ACCEPT'

{% if vpn_ipv6_enabled %}
config rule
    option name 'Allow-DHCPv6'
    option src 'wan'
    option proto 'udp'
    option dest_port '546'
    option family 'ipv6'
    option target 'ACCEPT'

config rule
    option name 'Allow-MLD'
    option src 'wan'
    option proto 'icmp'
    option src_ip 'fe80::/10'
    list icmp_type '130/0'
    list icmp_type '131/0'
    list icmp_type '132/0'
    list icmp_type '143/0'
    option family 'ipv6'
    option target 'ACCEPT'

config rule
    option name 'Allow-ICMPv6-Input'
    option src 'wan'
    option proto 'icmp'
    list icmp_type 'echo-request'
    list icmp_type 'echo-reply'
    list icmp_type 'destination-unreachable'
    list icmp_type 'packet-too-big'
    list icmp_type 'time-exceeded'
    list icmp_type 'bad-header'
    list icmp_type 'unknown-header-type'
    list icmp_type 'router-solicitation'
    list icmp_type 'neighbour-solicitation'
    list icmp_type 'router-advertisement'
    list icmp_type 'neighbour-advertisement'
    option limit '1000/sec'
    option family 'ipv6'
    option target 'ACCEPT'

config rule
    option name 'Allow-ICMPv6-Forward'
    option src 'wan'
    option dest '*'
    option proto 'icmp'
    list icmp_type 'echo-request'
    list icmp_type 'echo-reply'
    list icmp_type 'destination-unreachable'
    list icmp_type 'packet-too-big'
    list icmp_type 'time-exceeded'
    list icmp_type 'bad-header'
    list icmp_type 'unknown-header-type'
    option limit '1000/sec'
    option family 'ipv6'
    option target 'ACCEPT'
{% endif %}

config rule
    option name 'Allow-IPSec-ESP'
    option src 'wan'
    option dest 'lan'
    option proto 'esp'
    option target 'ACCEPT'

config rule
    option name 'Allow-ISAKMP'
    option src 'wan'
    option dest 'lan'
    option dest_port '500'
    option proto 'udp'
    option target 'ACCEPT'

{% if router_vpn_enabled %}
config zone
    option name 'singbox'
    option device 'tun0'
    option forward 'ACCEPT'
    option output 'ACCEPT'
    option input 'ACCEPT'
    option masq '1'
    option mtu_fix '1'
    option family 'ipv4'

config forwarding
    option name 'singbox-lan'
    option dest 'singbox'
    option src 'lan'
    option family 'ipv4'

config ipset
    option name 'vpn_domains'
    option family 'ipv4'
    option match 'dst_net'
    option storage 'hash'
    option maxelem '65536'

{% if vpn_ipv6_enabled %}
config rule
    option name 'Block-QUIC-VPN-v6'
    option src 'lan'
    option dest '*'
    option proto 'udp'
    option dest_port '443'
    option ipset 'vpn_domains'
    option target 'REJECT'
    option family 'ipv6'

config rule
    option name 'mark_domains_v6'
    option src 'lan'
    option dest '*'
    option proto 'all'
    option ipset 'vpn_domains'
    option set_mark '0x1'
    option target 'MARK'
    option family 'ipv6'
{% endif %}

config rule
    option name 'Block-QUIC-VPN'
    option src 'lan'
    option dest '*'
    option proto 'udp'
    option dest_port '443'
    option ipset 'vpn_domains'
    option target 'REJECT'
    option family 'ipv4'

config rule
    option name 'mark_domains'
    option src 'lan'
    option dest '*'
    option proto 'all'
    option ipset 'vpn_domains'
    option set_mark '0x1'
    option target 'MARK'
    option family 'ipv4'
{% endif %}

{% if router_proxy_enabled %}
config rule
    option name 'Allow-SingBox-Mixed'
    option src 'lan'
    option proto 'tcp udp'
    option dest_port '{{ router_proxy_port }}'
    option target 'ACCEPT'
{% endif %}